body {font-family: "Lato", sans-serif;}

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #eeeeee;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #b8c9fd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #fdecb8;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
/* Fade Away */
.tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
/* Alerts */
.danger {
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
}
.info {
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
}
/* Scroll to TOp Buttons */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #555;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#myBtn:hover {
  background-color: #555;
}
  
ul {
    list-style-type: none;
    padding: 0;
    border: 1px solid rgba(53,86,129, 0.8);
}

ul li {
    padding: 4px 8px;
    border-bottom: 1px solid rgba(53,86,129, 0.8);
}

ul li:last-child {
    border-bottom: none
}
.arakunido {
	margin: 1em 0 0.5em 0;
	font-weight: 600;
	font-family: 'Titillium Web', sans-serif;
	position: relative;  
	font-size: 14px;
	line-height: 1px;
	padding: 2px 2px 2px 0%;
	color: #355681;
}
.arakunido2 {
	margin: 1em 0 0.5em 0;
	font-weight: 600;
	font-family: 'Titillium Web', sans-serif;
	position: relative;  
	font-size: 36px;
	line-height: 40px;
	padding: 15px 15px 15px 15%;
	color: #355681;
	box-shadow: 
		inset 0 0 0 1px rgba(53,86,129, 0.4), 
		inset 0 0 5px rgba(53,86,129, 0.5),
		inset -285px 0 35px white;
	border-radius: 0 10px 0 10px;
	background: #fff url(https://i.imgur.com/n3Lha7r.png) no-repeat center left;
}
.crafthead2 {
	margin: 1em 0 0.5em 0;
	font-weight: normal;
	text-align: center;
	position: relative;
	text-shadow: 0 -1px rgba(0,0,0,0.6);
	font-size: 18px;
	line-height: 10px;
	background: #355681;
	background: rgba(53,86,129, 0.8);
	border: 1px solid #fff;
	padding: 2px 2px;
	color: white;
	border-radius: 0 10px 0 10px;
	box-shadow: inset 0 0 5px rgba(53,86,129, 0.5);
	font-family: 'Muli', sans-serif;
}
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    font-weight: 600;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
	white-space: nowrap;
	min-width: 120px;
	max-width: 600px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    background-color: black;
    color: #fff;
	font-weight: normal;
    text-align: center;
    padding: 5px 5px;
    border-radius: 12px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.dropt, table {
	border-spacing: 1px;
	background-color: #ffffff;
	width: 740px;
	height: 70px;
	padding: 1px;
}
.dropt, td{
	table-layout:fixed;
	border: 1px solid black;
    text-align: center;
}
button.accordion {
    background-color: #eee;
    color: #000000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}