.purple {
  color : #9859D8;
}

.orange {
  color : #F7950E;
}

.blue {
  color : #4FC3D6;
}

.fixed-table-body {
  height: auto;
}

body {
  width : 90%;
  margin : auto;
}

div.text-left {
  margin-bottom: 10px;
  margin-left : 10px;
}

.planned {
  margin-top : 50px
}

.type {
    text-transform : capitalize;
}

.red {
  color : red;
}

.darkred {
  color : darkred;
}
